{% extends 'base.html.twig' %}

{% block body %}
    <div class='jumbotron'>
        <h1>WestVault<br> <small>A Private LOCKSS Network by <a href="http://coppul.ca">COPPUL</a>.</small></h1>
        <p>This is the administrative front-end for WestVault. End-users 
            wanting more information, or wanting to join the PLN 
            should check out a different page. 
        </p>
    </div>
{% endblock %}
